<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>

    <body class="container">
        <h1 th:text="${title}">Default Title</h1>

        <nav th:replace="fragments :: navigation"></nav>

        <div class="form-group">
            <form method="post" th:object="${category}">
                <label th:for="name">Category</label>
                <input th:field="*{name}"/>
                <span th:errors="*{name}"></span>

                <input type="submit" value="Add Category"/>
            </form>
        </div>


    </body>

</html>